@page
@model IndexModel
@{
    ViewData["Title"] = "Web Site";
}


<div class="text-center">
    <h1 class="display-4">Seja bem-vindo!</h1>
    <h2>Lista de Cursos</h2>
    <p>Site criado no curso de ASP.NET Core</p>
</div>

<div class="box" id="area" onclick="clicar()" onmouseenter="entrar()" onmouseout="sair()">
    Clique para mostrar todas as opcões
</div>

<div class="options_box" id="opcoes">
</div>

<script>
    var a = window.document.getElementById('area');
    var options = window.document.getElementById('opcoes');

    const item = document.createElement('img');
    item.setAttribute("src", "https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg");
    item.setAttribute("width", "40");
    item.setAttribute("height", "30");
    item.setAttribute("class", "image");

    const itemInf = document.createElement('p');

    itemInf.innerHTML = 'JavaScript';

    const item1 = document.createElement('img');
    item1.setAttribute("src", "https://raw.githubusercontent.com/devicons/devicon/master/icons/c/c-original.svg");
    item1.setAttribute("width", "40");
    item1.setAttribute("height", "30");
    item1.setAttribute("class", "image");

    const item1Inf = document.createElement('p');

    item1Inf.innerHTML = 'C';

    const item2 = document.createElement('img');
    item2.setAttribute("src", "https://icongr.am/devicon/cplusplus-original.svg");
    item2.setAttribute("width", "40");
    item2.setAttribute("height", "30");
    item2.setAttribute("class", "image");

    const item2Inf = document.createElement('p');

    item2Inf.innerHTML = 'C++';

    const item3 = document.createElement('img');
    item3.setAttribute("src", "https://raw.githubusercontent.com/devicons/devicon/master/icons/java/java-original.svg");
    item3.setAttribute("width", "40");
    item3.setAttribute("height", "30");
    item3.setAttribute("class", "image");

    const item3Inf = document.createElement('p');

    item3Inf.innerHTML = 'Java';

    const item4 = document.createElement('img');
    item4.setAttribute("src", "https://raw.githubusercontent.com/devicons/devicon/master/icons/python/python-original.svg");
    item4.setAttribute("width", "40");
    item4.setAttribute("height", "30");
    item4.setAttribute("class", "image");

    const item4Inf = document.createElement('p');

    item4Inf.innerHTML = 'Python';

    function clicar() {
        options.innerHTML = '<h3>Opções:</h3>';
        options.appendChild(item);
        options.appendChild(itemInf);
        options.appendChild(item1);
        options.appendChild(item1Inf);
        options.appendChild(item2);
        options.appendChild(item2Inf);
        options.appendChild(item3);
        options.appendChild(item3Inf);
        options.appendChild(item4);
        options.appendChild(item4Inf);
        options.style.transition = '1s';
        options.style.background = 'white';
        boptionsstyle.color = 'black';
    }

    function entrar() {
        a.innerText = 'Clique para mostrar todas as opcões';
        a.style.transition = '1s';
        a.style.background = 'rgb(59, 0, 65)';
        a.style.color = 'white';
    }

    function sair() {
        a.innerText = 'Clique para mostrar todas as opcões';
        a.style.transition = '1s';
        a.style.background = 'white';
        a.style.color = 'black';
    }
</script>
